<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <%- include('./components/nav') %>
    <%- include('./components/header') %>

    <section id="info">
        <!--section card  possível stylirizar-->
       

            <!--essa estrutura precisa ser fechada na emsma linha   <%  %>-->


            <div class="cardd">
                <!--possível stylirizar card por card-->
                <!--o foreach vai criar várias div para separar em vários cardizinhos-->
                <img src=" <%= pokemonPut.imagem %>" alt="">
                <!-- essa sintex que pegamos links do JS esse sinal de = é porque é apresentado uma variável para acessar os itens de um OBJETO colocamos o PONTO-->
                <h2>
                    <%= pokemonPut.nome %>
                </h2>
                <p class="descricaoo">
                    <%= pokemonPut.descricao %>
                </p>
                <p>Tipo: <%= pokemonPut.tipo %>
                </p>
                <p id="doIdd"> Id <%= pokemonPut.id %></p><!-- o sinal de igual foi essencial para funcionar-->
                
                <p>Altura: <%= pokemonPut.height %></p>

                <p>Peso: <%= pokemonPut.weigh %></p>

                <p>Categoria: <%= pokemonPut.category %></p>

                <p>Abilidade: <%= pokemonPut.abilities %></p>
                 <ul>     <li>  <a id="retornar" href="/retornar">Retornar</a></ul> </li>


            </div>
            
                <!--precisamos dessa sintex para escrever em javaScript no thml-->
    </section>
    <!--FORMULÁRIO-->

</body>
</html>